#main { text-align:center; }

#picker { margin: 4px auto 0 !important; max-width: max-content; }
@media screen and (orientation:portrait) { 
  #main { width:100%; } 
}
@media screen and (orientation:landscape) {
  #main { width:320px; } 
}
.buttonlist { width:100%; display: flex; flex-direction: row; justify-content: space-between; flex-wrap:wrap; }
.imgbutton { margin: 1%; width:18%; border-radius: 10%; aspect-ratio: 4/3; }
.btnimg { height:90%; padding:5%; }
.slider {
  -webkit-appearance: none;
  width: 100%;
  aspect-ratio: 10;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#monobutton { background-color: white; width:100%; height:90%; border-radius:10%; min-width:3em; }
#gradientbutton { background: linear-gradient(90deg,rgba(0, 0, 0, 1), rgba(255, 0, 0, 1), rgba(0, 0, 0, 1)); width:100%; height:90%; border-radius:10%; min-width:3em; }

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  background: url('round-arrow-5-svgrepo-com.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 32px;
  height: 32px;
  border: 0;
  background: url('round-arrow-5-svgrepo-com.png');
  cursor: pointer;
}
.sliderimg { width:10%; aspect-ratio:1; border: 0; }
.slidecontainer { display: flex; flex-direction: row; margin-top:1em; width:100% }
