@media screen and (orientation:portrait) { 
  #settingspage { width:50%; text-align:center; } 
}
@media screen and (orientation:landscape) {
  #settingspage { width:30%; text-align:center; } 
}
.h1list { width:100%; display: flex; flex-direction: row; justify-content: space-between; margin-bottom:1em; }
.imgbutton { margin: 1em; width:18%; aspect-ratio: 4/3; }
.buttonlist { width:100%; display: flex; flex-direction: row; justify-content: space-around; }
.gear { height: 2em; }
.favicon { height: 2em; }
.hidden { display:none; }
.active { border: double; border-radius: 5px; padding:2px }
.inactive { border: none; padding:7px }
.setline { width:100%; }
#tab1 { width:100%; }
.setlbl { font-size:xx-large }
.txtinp { font-size:xx-large }